.tunnel circle,
#crosses path,
.squares rect {
  /* By default elements transform from the top left */
  transform-origin: center;
}

.w-200 {
  width: 200%;
}

.bg-yellow {
  background-color: #fffcf2;
}

.bg-purple {
  background-color: #ccc5b9;
}

.bg-blue {
  background-color: #403d39;
}

.bg-red {
  background-color: #eb5e28;
}

.box {
  /* Using the inset keyword, we can put shadows inside of elements */
  box-shadow: inset 0 0 0 4px #000;
}

.conveyor-belt {
  border-left: solid 4px #000;
  border-right: solid 4px #000;
}

.page {
  border-left: solid 4px #000;
  border-right: solid 4px #000;
  positive: relative;
}

.page:after,
.page:before {
  content: '';
  position: absolute;
  left: 0;
  height: 4px;
  background-color: #000;
  width: 100%
}

.page:before {
  top:0;
}

.page:before {
  bottom:0;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #000;
}

.squares rect {
  transform: translate(-50%, -50%);
  transform-box: fill-box;
}
